:root {
  --grey-color: #050505;
  --white-color: #ffffff;
  --blue-color: #00a2a7;
  --black-color: #000000;
  --gap: 6rem;
}
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Serif', serif;
*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Noto Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

h1.after {
  margin-bottom: 0.5rem;
  color: var(--blue-color);
}

h1.after::after {
  content: "!";
  margin-left: 0.5rem;
  opacity: 1;
  animation-duration: 1.7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: pisca;
}

span {
  color: var(--blue-color);
  /* font-family: "Josefin Sans", sans-serif; */
}

p span {
  font-size: 3.5rem;
}

p span::after {
  content: "|";
  margin-left: 0.5rem;
  opacity: 1;
  animation-duration: 1.7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: pisca;
}

aside > a {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: var(--black-color);
  text-transform: lowercase;
  font-weight: bold;
  transition: color 1s ease;
}

aside > a:hover {
  color: var(--blue-color);
}

aside > a::after {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 1%;
  width: 0;
  height: 0.2rem;
  background: var(--blue-color);
  transition: all 300ms ease-in-out;
}

aside a:hover::after {
  width: 12%;
}

div h1::after {
  content: "!";
  margin-left: 0.5rem;
  opacity: 1;
  animation-duration: 1.7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: pisca;
  color: #00a2a7;
}

nav {
  width: 50%;
}

nav a {
  font-size: 0.8rem;
  font-family: "Josefin Sans", sans-serif;
  color: var(--black-color);
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  transition: color 1s ease;
}

nav a:hover {
  color: var(--blue-color);
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: -1%;
  width: 0;
  height: 0.2rem;
  background: var(--blue-color);
  transition: all 300ms ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.section-ajuste {
  height: 100vh;
}

.centralizador {
  max-width: 120rem;
  margin: 0 auto;
}

.menutop {
  width: 100%;
  padding: 0.4rem;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: solid 0.2rem var(--blue-color);
  z-index: 1;
  backdrop-filter: blur(1rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.menubar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.section-black {
  min-height: 100vh;
  box-shadow: 0px -0.5rem 0.4rem rgba(255, 0, 0, 0.5);
}

.section-grey {
  min-height: 100vh;
  /* box-shadow: 0px -1rem 0.5rem var(--grey-color); */
}

.main-bg {
  background-image: url("../img/endless-constellation.svg");
  background-size: auto;
  background-position: center center;
  color: var(--white-color);
}

.main-bg-2 {
  background-color: #050505;
  color: var(--white-color);
}

.main-content {
  padding: var(--gap);
}

.separador {
  max-width: 51rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.apresentacao {
  max-width: 70rem;
}

.meio-pagina {
  display: block;
  padding-top: 7rem;
}

.central-sec-2 {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

div.centralizador > div.pop-out {
  justify-content: center;
}

.pop-out {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #00a2a7;
  border-radius: 5px;
  height: 100vh;
  max-width: 500px;
  box-shadow: 0 0 10px #00a2a7;
}

div.pop-out div h1 {
  margin-top: 15px;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  height: 30%;
  padding: 30px;
}

.content-popout {
  padding: 20px;
  margin-bottom: 20px;
}

@keyframes pisca {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
